# Main imports

In [1]:
import os
import pandas as pd 
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np
from tqdm import tqdm
from collections import defaultdict
import numpy as np


pd.options.display.max_columns = 200
pd.options.display.max_rows = 50

# Load cost rent student csv

In [2]:
rent_csv_path = "../database/raw/rent_cost_student.csv"

rent_df = pd.read_csv(rent_csv_path,index_col=0)

# Reindex but getting rid of numbers of departments

In [3]:
rent_df.columns
new_index = [i[5:] for i in rent_df.index]
rent_df.index = new_index
rent_df

                        Loyer m2 moyen\r\nappartement Loyer m2 moyen\r\nmaison
Ain                                            13,60€                   13,70€
Aisne                                          11,10€                   10,10€
Allier                                         10,80€                    9,80€
Alpes-de-Haute-Provence                        11,70€                   11,40€
Hautes-Alpes                                   12,00€                   12,50€
...                                               ...                      ...
Guadeloupe                                     12,00€                   13,00€
Martinique                                     12,00€                   13,00€
Mayotte                                        13,00€                   13,00€
Guyane                                         13,00€                   14,00€
La Réunion                                     10,00€                   12,00€

[101 rows x 2 columns]

# Fix columns \n element

In [4]:
rent_df.columns = [i.replace('\n', ' ') for i in rent_df.columns]

In [5]:
rent_df

                        Loyer m2 moyen\r appartement Loyer m2 moyen\r maison
Ain                                           13,60€                  13,70€
Aisne                                         11,10€                  10,10€
Allier                                        10,80€                   9,80€
Alpes-de-Haute-Provence                       11,70€                  11,40€
Hautes-Alpes                                  12,00€                  12,50€
...                                              ...                     ...
Guadeloupe                                    12,00€                  13,00€
Martinique                                    12,00€                  13,00€
Mayotte                                       13,00€                  13,00€
Guyane                                        13,00€                  14,00€
La Réunion                                    10,00€                  12,00€

[101 rows x 2 columns]

# Convert series from object to float

In [6]:
for i in rent_df:
    rent_df[i] = rent_df[i].str.replace('€','').str.replace(',', '.').astype(float)

rent_df

                         Loyer m2 moyen\r appartement  Loyer m2 moyen\r maison
Ain                                              13.6                     13.7
Aisne                                            11.1                     10.1
Allier                                           10.8                      9.8
Alpes-de-Haute-Provence                          11.7                     11.4
Hautes-Alpes                                     12.0                     12.5
...                                               ...                      ...
Guadeloupe                                       12.0                     13.0
Martinique                                       12.0                     13.0
Mayotte                                          13.0                     13.0
Guyane                                           13.0                     14.0
La Réunion                                       10.0                     12.0

[101 rows x 2 columns]

In [7]:
rent_df.dtypes

Loyer m2 moyen\r appartement    float64
Loyer m2 moyen\r maison         float64
dtype: object

# Save cleaned DF

In [8]:
path_cleaned = "../database/cleaned/cleaned_rent_cost_student.csv"

rent_df.to_csv(path_cleaned)